$font: "Playfair Display";
$secondfont: "Muli";
$thirdfont: "Parisienne";

.line {
  height: 1px;
  background-color: #fff;
  margin-bottom: 2rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem;
  grid-gap: 1rem;
  .listitem {
    display: flex;
    text-align: center;
    width: auto;
    align-items: center;
    flex-direction: column;
    img {
      width: 100%;
    }
    h1 {
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      font-family: $secondfont;
    }
    h1:nth-child(2) {
      margin-top: 2rem;
      font-weight: 200;
    }
    h1:nth-child(2):hover {
      text-decoration: underline;
    }
    h1:nth-child(3) {
      font-weight: 800;
      margin-bottom: 1rem;
    }
  }
}

.product {
  display: flex;
  margin-left: 15%;
  margin-bottom: 5rem;
  margin-top: 0;
  div:nth-child(1) {
    img {
      width: 440px;
    }
  }
  div:nth-child(2) {
    margin-left: 5%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    font-family: $secondfont;
    h2:nth-child(1) {
      font-size: 0.8rem;
      letter-spacing: 0.5rem;
      margin-bottom: 3.5rem;
      a {
        all: unset;
        cursor: pointer;
      }
    }
    h1 {
      font-family: $font;
      font-weight: 300;
      font-size: 1.5rem;
    }
    h2:nth-child(3) {
      margin: 1rem 0;
      margin-bottom: 3.5rem;
      font-size: 1rem;
    }
    p {
      line-height: 2;
    }
    a {
      height: 40px;
      width: 200px;
      font-weight: 900;
      font-size: 0.8rem;
      margin: 1rem 0;
      text-align: center;
      color: white;
      background-color: #041e3a;
      line-height: 40px;
      letter-spacing: 0.2rem;
      cursor: pointer;
    }
    .color {
      display: flex;
      height: 50px;
      align-items: flex-start;
      padding-top: 1rem;
      border-bottom: 1px solid #dcdcdc;
      border-top: 1px solid #dcdcdc;
      label {
        margin-right: 2rem;
        text-transform: capitalize;
      }
    }
    .size {
      display: flex;
      height: 50px;
      padding-top: 1rem;
      align-items: flex-start;
      label {
        margin-right: 2rem;
        text-transform: capitalize;
      }
    }
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  h1 {
    font-family: $secondfont;
    font-size: 1.5rem;
    margin: 3rem 0 1rem 0;
    font-weight: 300;
    letter-spacing: 0.3rem;
  }
  .cart {
    display: flex;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 2rem;
    padding-top: 2rem;
    height: 280px;
    width: 50%;
    font-family: $secondfont;
    img {
      max-height: 260px;
      margin-left: 2rem;
    }
    div {
      width: 100%;
      margin-left: 1.5rem;
      letter-spacing: 0.1rem;
      text-transform: capitalize;
      p:nth-child(2) {
        padding: 0.8rem 0;
      }
      select {
        all: unset;
        font-family: $secondfont;
        background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
          no-repeat calc(100% - 0.7rem);
        width: 50px;
        height: 30px;
        border: 1px solid #d1d1d1;
        padding: 0.2rem 2rem 0.2rem 0.8rem;
        font-size: 1rem;
        text-transform: uppercase;
        cursor: pointer;
      }
      button {
        all: unset;
        margin-left: 0.5rem;
        font-family: $secondfont;
        width: 50px;
        height: 30px;
        cursor: pointer;
        border: 1px solid #d1d1d1;
        padding: 0.2rem 2rem 0.2rem 0.8rem;
        font-size: 1rem;
      }
      p {
        font-size: 0.7rem;
        font-weight: 600;
        color: #828282;
      }
      h5:nth-child(4) {
        padding: 2rem 0;
        text-align: right;
      }
    }
  }
}
